.banner {
    background-image: url(../fuente/img/empresa/banner.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.imagenEmpresa {
    background-position: center;
}
.text-white-50 {
    color: rgba(0, 0, 0) !important
}

.backgroundNegro {
    background-color: rgba(0, 0, 0, 0.5);
}

.textoBanner {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 10%;
}

.degradaoGuapo {
    background: rgb(209, 107, 193);
    background: linear-gradient(90deg, rgba(209, 107, 193, 1) 0%, rgba(121, 9, 79, 1) 64%, rgba(253, 254, 254, 1) 100%);
}

.fuenteBlanca {
    color: white !important;
}

.degradadopetits {
    background: rgb(209, 107, 193);
    background: linear-gradient(90deg, rgba(209, 107, 193, 1) 0%, rgba(121, 9, 79, 1) 64%, rgba(253, 254, 254, 1) 100%);
}

.degradadoPagina {
    background: rgb(12, 64, 231);
    background: linear-gradient(90deg, rgba(12, 64, 231, 1) 0%, rgba(8, 24, 224, 1) 49%, rgba(253, 254, 254, 1) 100%);
}

svg {
    transition: transform 0.2s ease-in-out;
}

svg.rotate {
    transform: rotate(180deg);
}

/*Logeo*/
body {
    position: relative;
    margin: 0;

}

.sect {
    width: 100%;
    min-height: 500px;
}

#sect1 {
    color: #fff;
}

#sect2 {
    background-color: #dddddd7d;
    color: #333;
}

.video1 {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
}

/*Calendario*/
.bodyCalendar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: rgb(231, 12, 211);
    background: linear-gradient(90deg, rgba(231, 12, 211, 1) 0%, rgba(76, 8, 224, 1) 49%, rgba(210, 19, 219, 1) 83%);
    font-family: sans-serif;
}

.calendar {
    position: relative;
    background-color: #fff;
    width: 800px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 15px solid #fff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.calendar .date {
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
}

.calendar .date h3 {
    margin: 0 0 20px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    user-select: none;
    text-transform: capitalize;
}

.calendar .date .days {
    display: flex;
    flex-wrap: wrap;
}

.calendar .date .days .number.active {
    background-color: #362b48;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
}

.calendar .date .days .day,
.calendar .date .days .number {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.calendar .date .days .day:first-child,
.calendar .date .days .number:nth-child(7n+1) {
    color: #f44336;
    font-weight: 600;
}

.calendar .imagen-calendario {
    position: relative;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    user-select: none;
}

.calendar .imagen-calendario img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*sobreNosotrospage*/
.fonditoPng {
    background-size: cover;
    min-height: 800px;
    margin: 0 0 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoAboutUs {
    max-width: 400px;
}
/**/
/* OV PRELOADER */ 
.ov-preloader {
    background-color: #e42abb !important;
    z-index: 999999 !important;
    height: 100% !important;
    width: 100%;
    position: fixed;
 }
 ::-webkit-scrollbar {
    display: none;
}
 .ov-preloader .ov-icon {
    width: 100px !important;
    height: 100px !important;
    position: absolute !important;
    left: 50%;
    top: 50%;
    background-image: url(../img/giphy.gif);
    background-repeat: no-repeat;
    background-position: center !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    margin: -50px 0 0 -50px !important;
 }
 .ov-preloader-hidden{
    overflow: hidden !important;
    width: 0px !important;
    height: 0px !important;
 }