.banner {
    background-image: url(../fuente/img/empresa/banner.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.imagenEmpresa {
    background-position: center;
}

.text-white-50 {
    color: rgba(0, 0, 0) !important
}

.backgroundNegro {
    background-color: rgba(0, 0, 0, 0.5);
}

.textoBanner {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 10%;
}

.degradaoGuapo {
    background: rgb(209, 107, 193);
    background: linear-gradient(90deg, rgba(209, 107, 193, 1) 0%, rgba(121, 9, 79, 1) 64%, rgba(253, 254, 254, 1) 100%);
}

.fuenteBlanca {
    color: white !important;
}

.degradadopetits {
    background: rgb(209, 107, 193);
    background: linear-gradient(90deg, rgba(209, 107, 193, 1) 0%, rgba(121, 9, 79, 1) 64%, rgba(253, 254, 254, 1) 100%);
}

.degradadoPagina {
    background: rgb(12, 64, 231);
    background: linear-gradient(90deg, rgba(12, 64, 231, 1) 0%, rgba(8, 24, 224, 1) 49%, rgba(253, 254, 254, 1) 100%);
}
.desaparecer{
    transition: 3s ease-in-out;
}