<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <main class="container" style="margin-top: 80px;" th:fragment="main">

        <div class="p-4 p-md-5 mb-4 text-white rounded degradadopetits">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">Bienvenido </h1>
                <h1 class="display-4 fst-italic">CEI PETITS 2 </h1>
                <p class="lead my-3">C/ Juan Rabadán 41002</p>
                <p class="lead mb-0"><a href="#" class="text-white fw-bold"></a></p>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                    style="background-image: url(../../img/vector-fondo-diseno-textura-acuarela-rosa-suave-decorativo_1055-10739.avif);">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary"></strong>
                        <h3 class="mb-0">Profe Jessi</h3>
                        <div class="mb-1 text-muted"></div>
                        <p>¡Hola! Soy Jessi, profesora de guardería especializada en cuidar y
                            educar a bebés de 0 a 12 meses. Soy una persona cariñosa, paciente y atenta a las
                            necesidades individuales de cada niño. Me encanta crear un ambiente seguro, cálido y
                            acogedor para que los bebés se sientan cómodos y felices.</p>
                    </div>
                    <div class="col-auto d-lg-block">
                        <img src="../../img/seño-jesi-1-1-683x1024.jpg" alt="Jessi" width="250"
                            height="350">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                    style="background-image: url(../../img/vector-fondo-diseno-textura-acuarela-rosa-suave-decorativo_1055-10739.avif);">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary"></strong>
                        <h3 class="mb-0">Profe Angela</h3>
                        <div class="mb-1 text-muted"></div>
                        <p> Soy Angela, una profesora de guardería con experiencia en atender a bebés de diferentes
                            edades. Soy una persona cariñosa, amable y respetuosa con los ritmos y necesidades
                            individuales de cada niño.</p>
                    </div>
                    <div class="col-auto d-lg-block">
                        <img src="../../img/seño-Angela--683x1024.jpg" alt="Jessi" width="250"
                            height="350">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                    style="background-image: url(../../img/vector-fondo-diseno-textura-acuarela-rosa-suave-decorativo_1055-10739.avif);">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary"></strong>
                        <h3 class="mb-0">Profe Ami</h3>
                        <div class="mb-1 text-muted"></div>
                        <p>Soy Ami, una profesora de guardería comprometida con el desarrollo físico, cognitivo y
                            emocional de los bebés. Siempre estoy dispuesta a abrazar, cantar y jugar con ellos para
                            crear un ambiente de amor y cuidado.</p>
                    </div>
                    <div class="col-auto d-lg-block">
                        <img src="../../img/seño-AMI--683x1024.jpg" alt="Jessi" width="250" height="350">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                    style="background-image: url(../../img/vector-fondo-diseno-textura-acuarela-rosa-suave-decorativo_1055-10739.avif);">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary"></strong>
                        <h3 class="mb-0">Profe Inma</h3>
                        <div class="mb-1 text-muted"></div>
                        <p>Hola, me llamo Inma, y me encanta cuidar a los bebés y ayudarles en su desarrollo diario.
                            Soy una persona paciente, atenta y siempre estoy pendiente de sus necesidades para
                            ofrecerles la mejor atención.</p>
                    </div>
                    <div class="col-auto d-lg-block">
                        <img src="../../img/seño-inma--683x1024.jpg" alt="Jessi" width="250" height="350">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                    style="background-image: url(../../img/vector-fondo-diseno-textura-acuarela-rosa-suave-decorativo_1055-10739.avif);">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary"></strong>
                        <h3 class="mb-0">Profe Maru</h3>
                        <div class="mb-1 text-muted"></div>
                        <p>Soy Maru, una profesora de guardería que cree en el poder del afecto y el juego en el
                            aprendizaje de los bebés. Me gusta crear un ambiente acogedor y tranquilo para que puedan
                            sentirse seguros y felices.</p>
                    </div>
                    <div class="col-auto d-lg-block">
                        <img src="../../img/seño-Maru--683x1024.jpg" alt="Jessi" width="250" height="350">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                    style="background-image: url(../../img/vector-fondo-diseno-textura-acuarela-rosa-suave-decorativo_1055-10739.avif);">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary"></strong>
                        <h3 class="mb-0">Profe Meñita</h3>
                        <div class="mb-1 text-muted"></div>
                        <p>Hola, soy Meñita, una profesora de guardería con experiencia en atender a bebés prematuros
                            y con necesidades especiales. Soy una persona comprensiva, empática y siempre estoy
                            dispuesta a aprender y crecer junto a ellos.</p>
                    </div>
                    <div class="col-auto d-lg-block">
                        <img src="../../img/seño-Meñita--683x1024.jpg" alt="Jessi" width="250"
                            height="350">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                    style="background-image: url(../../img/vector-fondo-diseno-textura-acuarela-rosa-suave-decorativo_1055-10739.avif);">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary"></strong>
                        <h3 class="mb-0">Profe Raquel</h3>
                        <div class="mb-1 text-muted"></div>
                        <p>Soy Raquel, una profesora de guardería que valora el trabajo en equipo con los padres para
                            garantizar el bienestar y la felicidad de los bebés. Me gusta mantener una comunicación
                            cercana y honesta para lograr una educación integral..</p>
                    </div>
                    <div class="col-auto d-lg-block">
                        <img src="../../img/seño-raquel--683x1024.jpg" alt="Jessi" width="250"
                            height="350">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                    style="background-image: url(../../img/vector-fondo-diseno-textura-acuarela-rosa-suave-decorativo_1055-10739.avif);">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary"></strong>
                        <h3 class="mb-0">Profe Cristina</h3>
                        <div class="mb-1 text-muted"></div>
                        <p>Soy Cristina, una profesora de guardería apasionada por enseñar a los bebés a través de la
                            exploración y el descubrimiento. Siempre busco nuevas formas de estimular su curiosidad y
                            creatividad.</p>
                    </div>
                    <div class="col-auto d-lg-block">
                        <img src="../../img/seño-cristina--683x1024.jpg" alt="Jessi" width="250"
                            height="350">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    ¿Dondé nos encontramos?
                </h3>

                <article class="blog-post">
                    <h2 class="blog-post-title"></h2>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d792.4196669576511!2d-5.9997781!3d37.3974308!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126c092550322f%3A0x17c25f2c1203579e!2sCEI%20Petits%202!5e0!3m2!1ses!2ses!4v1682066399514!5m2!1ses!2ses"
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </article>
                <nav class="blog-pagination" aria-label="Pagination">
                    <a class="btn btn-outline-primary" href="#">Volver al Inicio</a>
                    <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true"></a>
                </nav>

            </div>

            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 bg-light rounded">
                        <h4 class="fst-italic">Un poco de nosotros</h4>
                        <p class="mb-0">
                            En nuestra guardería, la alimentación es una parte fundamental del cuidado y
                            desarrollo de los niños. Por eso, nos aseguramos de que la comida que se ofrece sea de
                            calidad, personalizada y adaptada a las necesidades de cada niño. Además, la atención
                            constante de nuestros profesores garantiza que los pequeños estén recibiendo la atención
                            necesaria para comer adecuadamente. De esta manera, podemos estar seguros de que los niños
                            están recibiendo una alimentación equilibrada y adaptada a sus necesidades individuales, lo
                            que contribuye a su bienestar y desarrollo saludable.</p>
                    </div>
                    <div class="p-4">
                        <h4 class="fst-italic">Así Si</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">GitHub</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>