<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{/fragmentos/head::head}">
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/proyecto.css}">
	<link rel="stylesheet" th:href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
	<script th:src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</head>

<body>
	<div th:replace="~{/fragmentos/preloader::preloader}"></div>
	<nav th:replace="~{/fragmentos/encabezado::encabezado}"></nav>
	<main>
		<div class="container" style="margin-top: 80px;">
			<div class="row">
				<div class="col-md-6">
					<h3>Empresas disponibles:</h3>
					<table
						style="width: 100%; max-width: 100%; margin-bottom: 1rem; background-color: #fff; border-radius: 0.25rem; border-collapse: collapse;">
						<thead>
							<tr>
								<th style="padding: 0.75rem; vertical-align: middle; border-top: 1px solid #dee2e6;">
									Empresa</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="padding: 0.75rem; vertical-align: middle; border-top: 1px solid #dee2e6;">
									Limpieza Sur</td>
							</tr>
							<tr>
								<td style="padding: 0.75rem; vertical-align: middle; border-top: 1px solid #dee2e6;">
									Clean4U</td>
							</tr>
							<tr>
								<td style="padding: 0.75rem; vertical-align: middle; border-top: 1px solid #dee2e6;">
									Babynut</td>
							</tr>
							<tr>
								<td style="padding: 0.75rem; vertical-align: middle; border-top: 1px solid #dee2e6;">
									Happymilk</td>
							</tr>
							<tr>
								<td style="padding: 0.75rem; vertical-align: middle; border-top: 1px solid #dee2e6;">The
									BabyFood Co.</td>
							</tr>
							<tr>
								<td style="padding: 0.75rem; vertical-align: middle; border-top: 1px solid #dee2e6;">
									MediCare</td>
							</tr>
							<tr>
								<td style="padding: 0.75rem; vertical-align: middle; border-top: 1px solid #dee2e6;">
									Salud en Casa</td>
							</tr>
							<tr>
								<td style="padding: 0.75rem; vertical-align: middle; border-top: 1px solid #dee2e6;">
									Clinica Dia</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-6">
					<h3>Descuento por meses de contratación:</h3>
					<table
						style="width: 100%; max-width: 100%; margin-bottom: 1rem; background-color: #fff; border-radius: 0.25rem; border-collapse: collapse;">
						<thead>
							<tr>
								<th
									style="padding: 0.75rem; vertical-align: middle; border-top: 1px solid #dee2e6; font-weight: bold; background-color: #f8d7da; color: #721c24; border-bottom: 2px solid #dee2e6;">
									Meses de contratación</th>
								<th
									style="padding: 0.75rem; vertical-align: middle; border-top: 1px solid #dee2e6; font-weight: bold; background-color: #f8d7da; color: #721c24; border-bottom: 2px solid #dee2e6;">
									Descuento</th>
							</tr>
						</thead>
						<tbody>
							<tr style="background-color: #ffe8f5;">
								<td style="padding: 0.75rem; vertical-align: middle; border-top: 1px solid #dee2e6;">3
									meses</td>
								<td style="padding: 0.75rem; vertical-align: middle; border-top: 1px solid #dee2e6;">5%
								</td>
							</tr>
							<tr style="background-color: #d1f1e6;">
								<td style="padding: 0.75rem; vertical-align: middle; border-top: 1px solid #dee2e6;">6
									meses</td>
								<td style="padding: 0.75rem; vertical-align: middle; border-top: 1px solid #dee2e6;">10%
								</td>
							</tr>
							<tr style="background-color: #ffe8f5;">
								<td style="padding: 0.75rem; vertical-align: middle; border-top: 1px solid #dee2e6;">12
									meses</td>
								<td style="padding: 0.75rem; vertical-align: middle; border-top: 1px solid #dee2e6;">15%
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="container" style="margin-top:80px;">
			<div class="row">
				<div class="col-sm-12 col-md-10 col-md-offset-1">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Empresa</th>
								<th class="text-center">Cantidad</th>
								<th class="text-center">Precio</th>
								<th class="text-center">Subtotal</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="empresa : ${empresa}">
								<td class="col-sm-8 col-md-6">
									<div class="media">
										<a class="thumbnail pull-left" href="#">
											<img class="media-object"
												src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png"
												style="width: 72px; height: 72px;" th:src="${empresa.key.imagen}" />
										</a>
										<div class="media-body">
											<h4 class="media-heading"><a href="#"><span th:text="${empresa.key.nombre}"
														style="text-decoration: none;">Product name</span></a></h4>

										</div>
									</div>
								</td>
								<td class="col-sm-1 col-md-1" style="text-align: center">
									<input class="form-control" id="inputQuantity" value="3" th:value="${empresa.value}"
										type="number" min="1" />
								</td>
								<td class="col-sm-1 col-md-1 text-center"><strong
										th:text="${empresa.key.cuota}">$4.87</strong></td>
								<td class="col-sm-1 col-md-1 text-center"><strong
										th:text="${empresa.key.cuota * empresa.value}">$14.61</strong></td>
								<td class="col-sm-1 col-md-1">


									<button type="button" class="btn btn-danger">
										<span class="glyphicon glyphicon-remove"></span> Remove
									</button>
								</td>
							</tr>
							<tr>
								<td>   </td>
								<td>   </td>
								<td>   </td>
								<td>
									<h3>Total</h3>
								</td>
								<td class="text-right">
									<h3><strong th:text="${total_carrito}">100€</strong></h3>
								</td>
							</tr>
							<tr>
								<td>   </td>
								<td>   </td>
								<td>   </td>
								<td>
									<a th:href="@{/admin/servicios/}">
										<button type="button" class="btn btn-default">
											<span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
										</button>
									</a>
								</td>
								<td>
									<button type="button" class="btn btn-success">
										Checkout <span class="glyphicon glyphicon-play"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

	</main>
	<footer th:replace="~{/fragmentos/footer::footer}"></footer>
	<th:block th:replace=~{/fragmentos/jsfinal::javascriptfinal}></th:block>
	<script th:src="@{/scrip/proyecto.js}"></script>


</body>