<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{/fragmentos/head::head}">
	<meta charset="UTF-8">
</head>

<body>
	<div th:replace="~{/fragmentos/preloader::preloader}"></div>
	<nav th:replace="~{/fragmentos/encabezado::encabezado}"></nav>
	<main class="container" style="margin-top: 80px;">
		<div class="container">
			<h1>Formulario de Alumnos</h1>
			<form th:action="${alumno.idAlumno != null} ? @{/admin/alumno/edit/submit} : @{/admin/alumno/nuevo/submit}"
				th:object="${alumno}" method="post" onsubmit="return validarFormulario();">
				<span th:text="${alumno.idAlumno} ? 'Editar' : 'Nuevo'"></span> alumno </h1>
				<div class="form-group">
					<label for="nombre">Nombre:</label>
					<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre"
						th:field="*{nombre}" required>
				</div>

				<div class="form-group">
					<label for="apellido">Apellido:</label>
					<input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido"
						th:field="*{apellido}" required>
				</div>

				<div class="form-group">
					<label for="apellido2">Segundo Apellido:</label>
					<input type="text" class="form-control" id="apellido2" name="apellido2"
						placeholder="Segundo Apellido" th:field="*{apellido2}" required>
				</div>

				<div class="form-group">
					<label for="numClase">Número de Clase:</label>
					<input type="number" class="form-control" id="numClase" name="num_clase"
						placeholder="Número de Clase" th:field="*{numClase}" required>
				</div>

				<div class="form-group">
					<label for="cuota">Cuota:</label>
					<select class="form-control" id="cuota" name="cuota" th:field="*{cuota}" required>
						<option value="300">300</option>
						<option value="450">450</option>
						<option value="800">800</option>
						<option value="900">900</option>
					</select>
				</div>

				<div class="form-group">
					<labelfor="idDieta">ID Dieta:</label>
						<input class="form-control" id="idDieta" name="idDieta" th:field="*{idDieta}" required>
				</div>

				<div class="form-group">
					<label for="alergias">Alergias:</label>
					<input type="text" class="form-control" id="alergias" name="alergias" placeholder="Alergias"
						th:field="*{alergias}">
				</div>
				<button type="submit" class="btn btn-primary">Guardar</button>
			</form>
		</div>
	</main>
	<footer th:replace="~{/fragmentos/footer::footer}"></footer>
	<th:block th:replace=~{/fragmentos/jsfinal::javascriptfinal}></th:block>
	<script th:src="@{/scrip/proyecto.js}"></script>


</body>

</html>