<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{fragmentos/head::head}">
	<meta charset="UTF-8">

<body>
	<video src="https://carontestudio.com/img/f4.mp4" autoplay="true" muted="true" loop="true"
		poster="https://carontestudio.com/img/contacto.jpg" class="video1"></video>
	<section id="sect1" class="sect">
		<div class="px-4 py-5 px-md-5 text-center text-lg-start">
			<div class="container">
				<div class="row gx-lg-5 align-items-center">
					<div class="col-lg-6 mb-5 mb-lg-0">
						<h1 class="my-5 display-3 fw-bold ls-tight">
							CEI PETITS <br />
							<span class="text-primary">DE MAYORES A PEQUES</span>
						</h1>
						<p style="color: hsl(217, 10%, 50.8%)">
							Empresa especializada en el cuidado de los más pequeños.
						</p>
					</div>

					<div class="col-lg-6 mb-5 mb-lg-0">
						<div class="card">
							<div class="card-body py-5 px-md-5">
								<form method="POST" action="#" th:action="@{/login}" onsubmit="return validarFormulario();">
									<div id="invalid-msg" class="invalid-msg">Usuario o contraseña incorrectos</div>
									<div class="form-outline mb-4">
										<input type="text" id="username" name="username" class="form-control"
											placeholder="Usuario" required autofocus />
										<label class="form-label" for="form3Example3">Usario</label>
									</div>

									<div class="form-outline mb-4">
										<input type="password" name="password" id="password" class="form-control"
											placeholder="contraseña" required />
										<label class="form-label" for="form3Example4">Contraseña</label>
									</div>

									<div class="form-check d-flex justify-content-center mb-4">
										<input class="form-check-input me-2" type="checkbox" value=""
											id="form2Example33" checked />
										<label class="form-check-label" for="form2Example33">
											Recibir notificaciones
										</label>
									</div>

									<button type="submit" class="btn btn-primary btn-block mb-4" th:action="@{/login}"
										th:object="${usuario}" method="post">
										<input type="submit" name="enviar" value="Entrar"
											class="nav-link fuenteBlanca" />
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>